.vertical-axis {
	/*min-height: 500px;*/
	width: 100%;
	position: relative;
}

.vertical-axis {
	background: url("../../../images/verticalAxis/line-bg.png") repeat-y 30px 0;
	z-index: 2;
}
.vertical-axis .bPoint {
}

.vertical-axis .bPoint h2 {
	height: 24px;
	line-height: 24px;
	font-size:14px;
	text-align: left;
	cursor: pointer;
	background: url("../../../images/verticalAxis/round_04.png") no-repeat 18px 0px;/*默认灰色*/
	z-index: 98;
}
.vertical-axis .bPoint-hover h2 {
	background: url("../../../images/verticalAxis/round_04_hover.png") no-repeat 18px 0px;/*默认灰色*/
}
.vertical-axis .bPoint h2 a{
	color: #c8c8c8;
}
.vertical-axis .bPoint-hover h2 a{
	color: #c8c8c8;
}
.vertical-axis .bPoint-open1 h2 {
	background: url("../../../images/verticalAxis/round_01.png") no-repeat 18px 0px;/*已经走过的流程蓝色*/
}
.vertical-axis .bPoint-open1-hover h2 {
	background: url("../../../images/verticalAxis/round_01_hover.png") no-repeat 18px 0px;/*已经走过的流程蓝色*/
}
.vertical-axis .bPoint-open1 h2 a{
	color: #3192cb;
}
.vertical-axis .bPoint-open1-hover h2 a{
	color: #3192cb;
}

.vertical-axis .bPoint-open2 h2  {
	background: url("../../../images/verticalAxis/round_02.png") no-repeat 18px 0px;/*正在走的流程橙色*/
}
.vertical-axis .bPoint-open2-hover h2  {
	background: url("../../../images/verticalAxis/round_02_hover.png") no-repeat 18px 0px;/*正在走的流程橙色*/
}
.vertical-axis .bPoint-open2 h2 a{
	font-size: 18px;
	color: #177417;
}
.vertical-axis .bPoint-open2-hover h2 a{
	font-size: 18px;
	color: #177417;
}
.vertical-axis .bPoint h2 a {
	padding-left: 50px;
}
.vertical-axis .bPoint .bPoint-list{
	width: 200px;
	margin:10px 0;
	display: none;
}
.vertical-axis .bPoint .bPoint-list-open{
	display: block;
}
.vertical-axis .bPoint .bPoint-list ul {
	/*bottom: 0;*/
}
.vertical-axis .bPoint .bPoint-list  li {
	background: url("../../../images/verticalAxis/round_004.png") no-repeat 25px ;
	padding: 0 ;
	zoom: 1;
	height: 40px;
	position: relative;
}
.vertical-axis .bPoint .bPoint-list  li p{
	color: #c8c8c8;
}
.vertical-axis .bPoint .bPoint-list  li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.vertical-axis .bPoint .bPoint-list  li.beingExecuted {
	border: none;
	background: url("../../../images/verticalAxis/round_002.png") no-repeat 25px ;
}
.vertical-axis .bPoint .bPoint-list  li.beingExecuted>p {
	color: #177417;

}
.vertical-axis .bPoint .bPoint-list  li.alreadyComplete {
	border: none;
	background: url("../../../images/verticalAxis/round_001.png") no-repeat 25px ;
}
.vertical-axis .bPoint .bPoint-list  li.alreadyComplete>p {
	color: #3192cb;
}


.vertical-axis .bPoint .bPoint-list>li>p {
	float: left;
	display: block;
	margin-left: 50px;
	/*padding-left: 50px;*/
	/*line-height: 24px;*/
	font-size: 12px;
	padding-top: 10px;
	cursor: pointer;
}
