<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>登录</title>
   <style>
       input,button{
   width: 320px;
   height: 45px;
   margin: 0px 8px;
   border-radius: 10px; /*圆角矩形*/
   text-indent: 10px; /*里面隐形的字体首行缩进*/
   margin: 10px auto;
}
       body{
   margin: 0px;
   padding: 0px;
   height: 180px;
   background-image: url(/static/1.jpg);   /*背景图片*/
   background-size:100% 100%;   /*图片自由伸缩*/
}
   </style>

</head>
<body>
<div  style="text-align: center; margin-top: 60px">
<form action="/login/" method="post" class="form-signin" >
   <h2 style="color: black; font-size: 60px">欢迎登录本系统</h1><br><br><br>
   <label style="color: white; font-size: 20px">账号：&nbsp</label>
   <input name="username"  type="text" style="width: 150px;height: 25px" placeholder="🐕账号"required autofocus><br><br>
   <label style="color: white; font-size: 20px">密码：&nbsp</label>
   <input name="password" type="password" style="width: 150px;height: 25px"  placeholder="🔑密码"required><br><br>
   <div style="padding-left: 70px">
       <button type="reset"style="width: 70px;height: 30px;font-size: 15px;color: palevioletred" >重置</button>&nbsp
       <button type="submit"style="width: 70px;height: 30px;font-size: 15px;color: palevioletred" >登录</button>
   </div>
   <p style="color: brown; padding-left: 70px">{{msg}}</p>
</form>
</div>
</body>
</html>

