<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>class_Id</th>
            <th>class_name</th>
            <th>credit</th>
            <th>using</th>
            <th>character</th>
            <th>school_id</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.class_Id }}</td>
                <td>{{ course.class_name }}</td>
                <td>{{ course.credit }}</td>
                <td>{{ course.using }}</td>
                <td>{{ course.character }}</td>
                <td>{{ course.school }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>