<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
function myclose(){
    parent.$.fancybox.close();
}
</script>
<form action="/info_import/" method="post">

<div class="form-group" id="thumbnailUploadContainer" class="col-sm-10" style="float: left; margin-right: 50px;">
    <input id="articleImageFile" name="ExcelFile" type="file" class="form-control" style="width: 300px; display: inline;" />
    <p><input type="submit" value="提交"/></p>
    <a  href="javascript:myclose();" >关闭</a>

</div>
</form>
</body>
</html>