<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="/static/scripts/jquery/jquery-1.7.1.js"></script>
    <link href="/static/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="/static/style/authority/common_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/scripts/authority/commonAll.js"></script>
    <script type="text/javascript" src="/static/scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/static/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style/authority/jquery.fancybox-1.3.4.css"
          media="screen"></link>
    <script type="text/javascript" src="/static/scripts/artDialog/artDialog.js?skin=default"></script>
    <title>信息管理系统</title>
    <script type="text/javascript">
	$(document).ready(function(){

		/** 新增   **/
	    $("#addBtn").fancybox({
	    	'href'  : '{% url 'system:course_insert_view' %}',
	    	'width' : 733,
	        'height' : 530,
	        'type' : 'iframe',
	        'hideOnOverlayClick' : false,
	        'showCloseButton' : false,
	        'onClosed' : function() {
	        	window.location.href = '{% url 'system:course_list' %}';
	        }
	    });

	    /** 导入  **/
	    $("#importBtn").fancybox({
	    	'href'  : '{% url 'system:course_import_view' %}',
	    	'width' : 633,
	        'height' : 260,
	        'type' : 'iframe',
	        'hideOnOverlayClick' : false,
	        'showCloseButton' : false,
	        'onClosed' : function() {
	        	window.location.href = '{% url 'system:course_list' %}';
	        }
	    });

	    /**编辑   **/
	    $("#editBtn").fancybox({
	    	'href'  : '{% url 'system:course_update_view' %}',
	    	'width' : 733,
	        'height' : 530,
	        'type' : 'iframe',
	        'hideOnOverlayClick' : false,
	        'showCloseButton' : false,
	        'onClosed' : function() {
	        	window.location.href = '{% url 'system:course_list' %}';
	        }
	    });
        


	});
	/** 用户角色   **/
	var userRole = '';

	/** 模糊查询来电用户  **/
	function search(){
		$("#submitForm").attr("action", "course_list.html").submit();
	}


	/** 批量删除 **/
	function batchDel(){
		if($("input[name='IDCheck']:checked").size()<=0){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'至少选择一条', ok:true,});
			return;
		}
		// 1）取出用户选中的checkbox放入字符串传给后台,form提交
		var allIDCheck = "";
		$("input[name='IDCheck']:checked").each(function(index, domEle){
			bjText = $(domEle).parent("td").parent("tr").last().children("td").last().prev().text();
// 			alert(bjText);
			// 用户选择的checkbox, 过滤掉“已审核”的，记住哦
			if($.trim(bjText)=="已审核"){
// 				$(domEle).removeAttr("checked");
				$(domEle).parent("td").parent("tr").css({color:"red"});
				$("#resultInfo").html("已审核的是不允许您删除的，请联系管理员删除！！！");
// 				return;
			}else{
				allIDCheck += $(domEle).val() + ",";
			}
		});
		// 截掉最后一个","
		if(allIDCheck.length>0) {
			allIDCheck = allIDCheck.substring(0, allIDCheck.length-1);
			// 赋给隐藏域
			$("#allIDCheck").val(allIDCheck);
            
			if(confirm("您确定要批量删除这些记录吗？")){
				// 提交form
                var url = "/course_delete_batch/"
                // $("#allIDCheck").attr("action", url).submit();
				$("#submitForm").attr("action", url).submit();
			}
		}
	}



    </script>
    <style>
	.alt td{ background:black !important;}


    </style>
</head>
<body>

<form id="submitForm" name="submitForm" action="/course_query/" method="post">
    <div id="container">
        <div class="ui_content">
            <div class="ui_text_indent">
                <div id="box_border">
                    <div id="box_top">搜索</div>
                    <table cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
                        <tr>
                            <td class="ui_text_rt">课程名称</td>
                            <td class="ui_text_lt">
                                <input type="text" id="2" name="class_name" class="ui_input_txt02"/>
                            </td>

                            <td class="ui_text_rt">课程编号</td>
                            <td class="ui_text_lt">
                                <input type="text" id="1" name="id" class="ui_input_txt01"/>
                            </td>

                            <td class="ui_text_rt">学分</td>
                            <td class="ui_text_lt">
                                <input type="text" id="3" name="credit" class="ui_input_txt01"/>
                            </td>

                            <td class="ui_text_rt">当前是否正在使用</td>
                            <td class="ui_text_lt">
                                <select name="using" id="4" class="ui_select01">
                                    <option value="" selected="selected">--请选择--</option>
                                    <option value="True">是</option>
                                    <option value="False">否</option>
                                </select>
                            </td>

                            <td class="ui_text_rt">开课院系</td>
                            <td class="ui_text_lt">
                                <select name="school" id="6" class="ui_">
                                    <option value="" selected="selected">--请选择--</option>
                                    <option value="人工智能">人工智能</option>
                                </select>
                            </td>
                            <td class="ui_text_rt">课程性质</td>
                            <td class="ui_text_lt">
                                <select name="nature" id="7" class="ui_">
                                    <option value="" selected="selected">--请选择--</option>
                                    <option value="部类基础">部类基础</option>
                                    <option value="部类基础">部类共同</option>
                                    <option value="大学体育">大学体育</option>
                                </select>
                            </td>

                        </tr>

                    </table>
                    <p><input type="submit" value="查询" class="ui_input_btn01"/></p>
                    <div id="box_bottom">
                        <input type="button" value="新增" class="ui_input_btn01" id="addBtn"/>
                        <input type="button" value="编辑" class="ui_input_btn01" id="editBtn"/>
                        <input type="button" value="批量删除" class="ui_input_btn01" onclick="batchDel();"/>
                        <input type="button" value="导入" class="ui_input_btn01" id="importBtn"/>
                        <a type="button" href="{% url 'system:course_export' %}" class="ui_input_btn01" >导出</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui_content">
            <div class="ui_tb">
                <table id="sortMe" class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                    <thead>
                        <tr>
                            <th width="30"><input type="checkbox" id="all" onclick="selectOrClearAllCheckbox(this);"/>
                            </th>
                            <th>课程名称</th>
                            <th>课程编号</th>
                            <th>学分</th>
                            <th>使用中</th>
                            <th>开课院系</th>
                            <th>历史课程</th>
                            <th>课程性质</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in page %}
                    <tr>
                        <td><input type="checkbox" name="IDCheck" value={{p.id}} class="acb"/></td>
                        <td>{{p.name}}</td>
                        <td>{{p.id}}</td>
                        <td>{{p.credit}}</td>
                        <td>{{p.using}}</td>
                        <td>{{p.school}}</td>
                        <td>NULL</td>
                        <td>{{p.nature}}</td>
                        <td>
                            <a href="/course_delete?id={{ p.id }}">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script>
						document.addEventListener('DOMContentLoaded', function () {
							const table = document.getElementById('sortMe');
							const headers = table.querySelectorAll('th');
							const tableBody = table.querySelector('tbody');
							const rows = tableBody.querySelectorAll('tr');

							// Track sort directions
							const directions = Array.from(headers).map(function (header) {
								return '';
							});

							// Transform the content of given cell in given column
							const transform = function (index, content) {
								// Get the data type of column
								const type = headers[index].getAttribute('data-type');
								switch (type) {
									case 'number':
										return parseFloat(content);
									case 'string':
									default:
										return content;
								}
							};

							const sortColumn = function (index) {
								// Get the current direction
								const direction = directions[index] || 'asc';

								// A factor based on the direction
								const multiplier = direction === 'asc' ? 1 : -1;

								const newRows = Array.from(rows);

								newRows.sort(function (rowA, rowB) {
									const cellA = rowA.querySelectorAll('td')[index].innerHTML;
									const cellB = rowB.querySelectorAll('td')[index].innerHTML;

									const a = transform(index, cellA);
									const b = transform(index, cellB);

									switch (true) {
										case a > b:
											return 1 * multiplier;
										case a < b:
											return -1 * multiplier;
										case a === b:
											return 0;
									}
								});

								// Remove old rows
								[].forEach.call(rows, function (row) {
									tableBody.removeChild(row);
								});

								// Reverse the direction
								directions[index] = direction === 'asc' ? 'desc' : 'asc';

								// Append new row
								newRows.forEach(function (newRow) {
									tableBody.appendChild(newRow);
								});
							};

							[].forEach.call(headers, function (header, index) {
								header.addEventListener('click', function () {
									sortColumn(index);
								});
							});
						});
					</script>
            </div>
            {% if page.has_previous %}
            {# 得到上一页的页码编号 #}
            <a href="/course_query?page={{ page.previous_page_number }}">上一页</a>
            {% else %}
            上一页
            {% endif %}
            {# 在页面范围内循环选择一个页面号码 #}
            {% for p in paginator.page_range %}
            {# 如果页面编号等于当前页码序号 #}
            {% if p == page.number %}
            {{ p }}
            {% else %}
            {# 否则跳转到页码相对应的页面 #}
            <a href="/course_query?page={{ p }}">{{ p }}</a>
            {% endif %}
            {% endfor %}
            {% if page.has_next %}
            <a href="/course_query?page={{ page.next_page_number }}">下一页</a>
            {% else %}
            下一页
            {% endif %}
        </div>
    </div>
</form>

<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html>
