<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>注册</title>
   <style>
       input,button{
   width: 320px;
   height: 45px;
   margin: 0px 8px;
   border-radius: 10px; /*圆角矩形*/
   text-indent: 10px; /*里面隐形的字体首行缩进*/
   margin: 10px auto;
}
       body{
   margin: 0px;
   padding: 0px;
   height: 180px;
   background-image: url(/static/1.jpg);   /*背景图片*/
   background-size:100% 100%;   /*图片自由伸缩*/
}
   </style>

</head>
<body>
<div  style="text-align: center; margin-top: 60px">
<form action="/register/" method="post" class="form-register" >
    {% csrf_token %} 
   <h1 style="color: black; font-size: 60px">欢迎注册！</h1><br><br><br>
   <label style="color: white; font-size: 20px">职工姓名&nbsp</label>
   <input name="username"  type="text" style="width: 150px;height: 25px" placeholder="🐕姓名"required autofocus><br><br>
   <label style="color: white; font-size: 20px">密码&nbsp</label>
   <input name="password1" type="password" style="width: 150px;height: 25px"  placeholder="🔑密码"required><br><br>
   <label style="color: white; font-size: 20px">再次输入密码&nbsp</label>
   <input name="password2" type="password" style="width: 150px;height: 25px"  placeholder="🔑再次输入密码"required><br><br>
   <label style="color: white; font-size: 20px">邮箱&nbsp</label>
   <input name="email" type="email" style="width: 150px;height: 25px"  placeholder="邮箱"required><br><br>
   <label style="color: white; font-size: 20px">职工类型&nbsp</label>
    <select name="kind" >
    <option value="js">教师</option>
    <option value="jm">教秘</option>
    </select>
   <div style="padding-left: 70px">
       <button type="reset"style="width: 70px;height: 30px;font-size: 15px;color: palevioletred" >重置</button>&nbsp
       <button type="submit"style="width: 70px;height: 30px;font-size: 15px;color: palevioletred" >注册</button>
   </div>
<p style="color: brown; padding-left: 70px">{{msg}}</p>
</form>

<table border="1" align="center"style="border-collapse: collapse; width: 1000px">
    <th>{{"您的职工号为": info.identifier }}</th>
</table>
</div>
</body>
</html>

